div.people {
  margin: 19px 0 19px 0;
  padding: 19px 19px 28px 19px;
}

#jackma {
  color: #00f;
}

#tomcruise {
  color: #f00;
}

#johncena {
  color: #0f0;
}

#ronaldo {

}

audio, video, iframe {width: 50%}
