div.people {
  margin: 19px 0 19px 0;
  padding: 19px 19px 28px 19px;
}

#jackma {
  color: #394BA0;
  background: #FFA500;
  border-color: #394BA0;
}

#tomcruise {
  color: #3F3B32;
  background: #4AF244;
  border-color: #3F3B32;
}

#johncena {
  color: #4AF244;
  background: #390651;
  border-color: #4AF244;
}

#ronaldo {
  color: #89FF00;
  background: #EF606B;
  border-color: #89FF00;
}

audio, video, iframe {width: 50%}
